__pycache__/
*.py[cod]
*$py.class
*.pyc

.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg

.env
.venv
env/
venv/

node_modules/

.vscode/
.idea/
*.DS_Store
*.swp
*debug.log
